*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
   font-family:'Times New Roman', Times, serif;
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
}
html,body{
    width: 100%;
    height: 100%;
}
#main{
    width: 100%;
    min-height: 100vh;
}
/* Top */
#top{
    width: 100%;
    min-height: 60vh;
    background-image: url(https://images.unsplash.com/photo-1692983279086-cd5c7b5f0df8?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwxODZ8fHxlbnwwfHx8fHw%3D&auto=format&fit=crop&w=500&q=60); 
    /* background-image: url(https://plus.unsplash.com/premium_photo-1691868607607-e90ad38fe3ff?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw0MXx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60);  */
     /* background-image: url(https://images.unsplash.com/photo-1682687221175-fd40bbafe6ca?ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxlZGl0b3JpYWwtZmVlZHwxODd8fHxlbnwwfHx8fHw%3D&auto=format&fit=crop&w=500&q=60);  */
    background-repeat: no-repeat;
    background-position: 50% 60%;
    background-size: cover;
}
#overlay{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.274);
    min-height: inherit;
    position: relative;
    
}
#text{
    width: 100%;
    align-items: center;
    color: #fff;
    padding: 0 10vw;
    bottom: 20%;
    position: absolute;
    display: flex;
    justify-content: space-between;   
}

#textright{
    display: flex;
    width: 60%;
    justify-content: space-between;
    align-items: center;
}
#textright p{
    font-size: 1.2vw;
    width: 40%;
    color: #fff;
}
#text h1{
    font-size: 6vw;
    font-weight: 500;
}
/* Bottom */
#bottom{
    width: 100%;
    min-height: 40vh;
    background-color: aqua;
    display: flex;
}

#one{
    width: 25%;
    min-height:inherit;
    background-color: #ffffff;
    padding: 20px;
   
}
#one p{
    margin-top: 20px;
}
#two{
    width: 25%;
    min-height:inherit;
    background-image: url(https://images.unsplash.com/photo-1530007874544-a6f7674b5a47?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8cGFyYWNodXRlfGVufDB8fDB8fHww&auto=format&fit=crop&w=500&q=60);
    background-size: cover;
    background-position: center;
}

#three{
    width: 20%;
    min-height: inherit;
    
}
#threetop{
    padding: 20px;
    min-height: 20vh;
    background-color: orangered;
    color: #ffffff;
}
#threetop p{
    margin-top: 20px;
}
#threebottom{
    width: 100%;
    min-height: 30vh;
    background-image: url(https://images.unsplash.com/photo-1605986723344-f60873d873fa?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1556&q=80);
     background-position: center;
     background-size: cover;
}
#four{
    width: 30%;
    min-height: inherit;
    background-color: #444;
    color: #fff;
    padding: 30px;
}
.notf{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

}
.notf #photo{
    width:40px;
    height:40px ;
    border-radius: 50%;
    background-color:red ;
}
.notf p{
    width: 80%;
    font-size: 14px;
}
/* Responsive */

@media(max-width:500px){
    #overlay #text{
        flex-direction: column;
        align-items: flex-start;
    }
    #text h1{
        font-size: 10vw;
    }
    #overlay #text #textright{
        flex-direction: column;
        align-items: flex-start;
    }
    #overlay #text #textright p{
        width: initial;
        margin-top: 20px;
        font-size: 3.5vw;
    }
    #overlay #text #textright icons{
        flex-direction: column;
        align-items: flex-start;
        margin-top: 30px;
    }
   #bottom{
    flex-direction: column;
    min-height: 20vh;
   }
   #one{
    width: 100%;
    /* min-height: 30vh; */
   }
   #two{
    width: 100%;
    min-height: 40vh;
   }
   #three{
    width: 100%;
    
   }
   #threebottom{
    min-height: 40vh;
   }
   #four{
    width: 100%;
    min-height: 30vh;
   }

}